body {
  font-family: 'titillium web', sans-serif;
  max-width: 38rem;
  padding: 0;
  background-color: #1b0000;
  color: #9f9f9f;
}

div {
  user-select: none;
}

a:not([draggable='true']),
img:not([draggable='true']) {
  -webkit-user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
}

#titleimg {
  -webkit-app-region: drag;
}

input#token {
  font-size: 1.5em;
  color: rgb(132, 52, 38);
  text-align: center;
}

div#AppVersion {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.7em;
}

div#header {
  vertical-align: middle;
}

.button {
  text-align: center;
  color: #9f9f9f;
  background-color: transparent;
  font-family: titillium web, sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-right: 2px;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.2s linear;
  border: none;
  border-radius: 4px;
  vertical-align: top;
}

.button:hover {
  color: #fff;
  background-color: rgba(183, 171, 169, 0.35);
}

.active {
  color: #fff;
  background-color: #843426;
}

.active:hover {
  background-color: #843426;
}
