body,
html {
  font-family: 'titillium web', sans-serif;
  max-width: 38rem;
  padding: 0;
  margin: 0;
  color: #9f9f9f;
  width: 100%;
  background-color: rgba(11, 0, 0, 0.5);
}

div {
  user-select: none;
}

a:not([draggable='true']),
img:not([draggable='true']) {
  -webkit-user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
}

.overlay {
  -webkit-app-region: drag;
  /*opacity: 0.5;*/
  background-color: rgba(11, 0, 0, 0.5);
}
