body,
html {
  font-family: 'titillium web', sans-serif;
  padding: 0;
  margin: 0;
  color: #9f9f9f;
  width: 100%;
  overflow: hidden !important;
  /*background-color: rgba(11, 0, 0, 0.5);*/
  pointer-events: none;
}

.Interactive {
  pointer-events: auto;
}

div {
  user-select: none;
}

a:not([draggable='true']),
img:not([draggable='true']) {
  -webkit-user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
  -webkit-user-drag: auto;
}

.overlay {
  -webkit-app-region: drag;
  /*opacity: 0.5;*/
}

#OverlayMenu {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(11, 0, 0, 0.5);
  width: 80px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.hidden {
  display: none !important;
}

.main {
  display: block;
  position: absolute;
  top: 15%;
  width: 300px;
  background-color: rgba(11, 0, 0, 0.5);
  transform-origin: top left;
}

#OpponentOutFrame {
  display: block;
  position: absolute;
  top: 15%;
  right: 0px;
  width: 300px;
  background-color: rgba(11, 0, 0, 0.5);
  transform-origin: top right;
}

.smallmanagroup {
  position: relative;
  margin-left: -7px;
}

.CCmana {
  z-index: 1;
  vertical-align: top;
  line-height: 10px;
  font-size: 0.7em;
  vertical-align: top;
}

.CNameManaWrap {
  float: left;
  height: 30px;
}

.CName {
  font-family: 'Titillium Web', sans-serif;
  line-height: 20px !important;
  overflow: hidden;
  width: 175px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left !important;
}

.DcDrow {
  line-height: 30px;
  position: relative;
  width: auto;
  height: 30px;
  margin-bottom: 1px;
  clear: both;
  cursor: pointer;
  transition-duration: 100ms;
  transition-property: all;
  border-bottom: solid 1px #36221e;
  text-shadow: 1px 1px 3px #000;
  text-align: left !important;
}

.DcDrow:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /*filter: brightness(1.2);*/
}

.highlightCard {
  background-color: rgba(255, 255, 255, 0.3);
}

.highlightCardBest {
  background-color: rgba(105, 204, 102, 0.3) !important;
}
.highlightCardGood {
  background-color: rgba(221, 242, 84, 0.3) !important;
}
.highlightCardMaybe {
  background-color: rgba(244, 194, 103, 0.3) !important;
}
.highlightCardPoor {
  background-color: rgba(236, 63, 24, 0.3) !important;
}

.outCard {
  filter: brightness(0.6);
}

.picWithNoPic {
  width: 5px !important;
  background: none !important;
}

.CardSmallPic {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 30px;
  position: relative;
  z-index: 1;
  vertical-align: top;
  float: left;
  width: 45px;
  height: 30px !important;
  text-align: center;
  border-left-width: 5px;
  border-left-style: solid;
  background-size: cover !important;
  margin-right: 5px;
}

.Copies {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 30px;
  position: relative;
  z-index: 1;
  vertical-align: top;
  font-weight: bold;
  margin-top: 0;
  float: right;
  width: 50px;
  height: 30px !important;
  text-align: center;
  filter: brightness(1.4);
}

.ms {
  text-shadow: none !important;
}

.DarkGrey {
  color: #c3c3c3 !important;
}

.LightGrey {
  color: #e3e3e3 !important;
}

.White {
  color: #fff !important;
}

.FirstHand {
  font-weight: bold;
}

.Best {
  color: rgb(105, 204, 102) !important;
}
.Good {
  color: rgb(221, 242, 84) !important;
}
.Maybe {
  color: rgb(244, 194, 103) !important;
}
.Poor {
  color: rgb(236, 63, 24) !important;
}

.uppernum {
  line-height: 17px;
}

.leftuppernum {
  border-right: 2px solid #555;
  line-height: 13px;
  height: 13px;
  display: inline-block;
  padding-right: 5px;
}

.bottomnum {
  line-height: 17px;
  font-size: 0.8em;
  opacity: 0.8;
}

#CardHint {
  position: absolute;
  transform-origin: top left;
}

#CardHint > img {
  border-radius: 4%;
  width: 300px;
}

#Scaler {
  position: absolute;
  width: 25px;
}

.scls {
  text-align: center;
  display: inline-block;
  width: 33%;
  vertical-align: text-top;
}

.smallLogo {
  display: inline-block;
  font-size: 0.7em;
  color: #fff;
}

.activeButton {
  background-color: rgba(132, 52, 38, 0.9) !important;
  color: #fff;
}

.interfaceButton {
  background-color: rgba(183, 171, 169, 0.1);
  border: solid 1px rgba(183, 171, 169, 0.15);
  display: inline-block;
  width: 70px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 3px;
}

.interfaceButton:hover {
  border: solid 1px rgba(183, 171, 169, 0.3);
  background-color: rgba(132, 52, 38, 0.9);
  color: #fff;
}

.HandleRight {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  float: left;
}

.Handle {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  float: right;
}

.Move {
  cursor: move;
}

.Ico {
  width: 25px !important;
  height: 25px !important;
  opacity: 0.7;
}

.IcoGeneral {
  width: 20px !important;
  height: 20px !important;
  opacity: 0.7;
  vertical-align: sub;
}

.moveIco {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAMFBMVEUAAAD///////////////////////////////////////////////////////////87TQQwAAAAD3RSTlMAHuLcId/e+tOxeUnqgU4IcVInAAAAxElEQVQ4y2OgM5BoxC7OaP/JAauE8P//Ktg1/P8P0YKpAaoFUwNWLZz/wWAChgRXPUj8+wJs1v//DyToLsE4F1nipgBcQvQ7mIr/BqbqA+Ea4iFKN2lDNH4VQIQSqlUqsFBClYCHmCgklKJB7K0QNsSWfgjnE4itD2H/wC8hBuFkg9jbIOxEnJbjdi5ESz5E4s05iMQ3eJiIQYJE/xMkSBIRgTgLORBXCgyOqMVMcISTKCJR480GhDMOIqsRypyY2Zm+AACL9rHh9KGtVAAAAABJRU5ErkJggg==');
}

.scaleIco {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAb1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8v0wLRAAAAJHRSTlMAINgo9ODTI/oV1r5aGgt2QMivrDIX6amCgFPr3Trs5cJVAy/2QOyZAAABSklEQVRIx+2UbXODIAzHg6K0QK1VWx/7sI3v/xmXyJ1dRXC+2/WWu1IT/r8zIUF4O6saFXEuVVP9Sv4RmcmiblUuTubFTiysv17MzG55SJ/vSLOrdZxlsa6tFyDEjRSlmPyC/N6f1Zj/8WfkONbhPR+rF4d99kr4ziqifABwTTALluADAGUlPf2iCgUBd1yRGAgQVPlyBxvcqQGBe0zu+A5cSwy3i4DCHY3/l1FvCVw0hpW3BNJ+PUMMfzGNyCLAcSdzwxmG+WYgmBJzUxqCRSfMLTp8rEg4xxpuHBGknxp39Y9GsTQaKSxbNw3rbFz1xvF+fPoA1tN+MbtAnK1e0dJe0RI9AnIIEL2ZGee4yLOXYLPPzIPlJkxAJ5/yVGO9Zo2AqlWS80G1tl/SJcK2T0ciOvwTf4I42w4q2PYO/C5uIlx9OCsVw9vYNwojNusP4q/GAAAAAElFTkSuQmCC');
}

.scaleInIco {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAWlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////9ZMre9AAAAHXRSTlMA2Kr5IXfriIBxWVIyDH8nvfLEv/Q7z8aBPRsWQHSCeYoAAAEBSURBVEjH7VTZEoIwDCRQtXKWw1v+/zdlqUPlSCVvDuM+QI/dZpu0DTaH9FpT05DR6Sp6Qu0ASr7S1aUdoVJ+/mnfTrB/+vi3CJwojIssK+LQ9k4eP/36oRr6YR+DdwX/0fFz5IggFZsfrGf5ToExLlcEP7YJmm3BFTH1giE1FSiYWq7g1QZwAhciXxTU3Uw8F8Rd07BbUCA7QFSwmyi7mWwuyLpfKRawlgqJJcNvul4UaE9axYUTHo2z/PAxqJaPt5FeoLvsirb0kD0ChK/mXVVjvrk/+r9e95CdE6TYqwDS3FDZUJ2ntiZOsQ67t+LwV/ySIg9ECvAFCvBF0DrYDl6XyDJl7OryzwAAAABJRU5ErkJggg==');
}

.scaleOutIco {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAWlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////9ZMre9AAAAHXRSTlMA2Kr5IXfriIBxWVIyDH8nvfLEv/Q7z8aBPRsWQHSCeYoAAAD8SURBVEjH7VRbEoIwDCSAWt7lKYK5/zVtQBmgBMyfw7gfME13m23S1jkd4raEqgKt4q/oEeAEiA7p/h0XKPx9fn3FFa7PPf7DI47nhlmSZKE7juodP8P6rj+N3SEH74r8e8E8ElCSgq0PGhB/rqAYVysgP+sguQKmX2TI8uuTqe0Otp8Edop0U1CamdAOhyas2S2QI5zBDDN2E7mZSWxBYn65WMBayiSWNL/pclOghGWVN44/Go388DEoto+3ll6gTnZFEXrZIwD0VbyrYsnXXY+Wgn/IGqoPHimcONWQV1CmY7+QUbC4vBW3v+KXFKkjUhBfoCC+CEo558ELsA0uxfWgmpYAAAAASUVORK5CYII=');
}

.eyeIco {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAilBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////2N2iNAAAALXRSTlMABSX6T8GiiD/z2n1FDd3Qzbsp78aq4NTKXVRJORHrq4JaNBUD5aeaknEZtHYm5omjAAABaklEQVRIx+3T13KDQAwF0LtmKaaY5kpx74n+//di2WEHWNwykzefJ2nRzggJ8PHxX3ozexGOU8NIx+HCnvXwiJDWjlp2lhTolhxS6pQeEuicmB6InXbnI3oiTuq9ewY9ZXhCNT+ll0x/R5an9KK+5PpvesMJONFbfMxrmSkHeslAmrXsC6RMfKDf0TjgT1Q2rl0IcO8CApUNMVYxD80ljct7VdkMvtoZb39PGguAXyXHLbAeuaHHX4YHICNNBsDji7m9LFCZXU4iAELraSAAhJdghbpz9RKSWmT1Cmc08Kz3HNjNepvPuOEYTTk/XQPY2o36LYDituIWbtMtOZKumqjkvOT1h2hzuCIWHIrMmvT7Eyu7ZdytUaBBNW9u0FLGfL6ETgyvU1yjoRjwqSnQIZgSG/Wg9BbEhgE6lUO6ijwnCYLE8SJS9d3E0iDdUeA+J9L+fAeP5Wa93PTx3GZlRXPDmEfWaoOPP/kB8MmI4Xkg568AAAAASUVORK5CYII=');
}

.glassIco {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAbFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8+T+BWAAAAI3RSTlMAwkL6xAOJPtiG6eUMCspoReJ0bgbdjIJQOygm9O1Vps+bpyLQrqUAAAFkSURBVEjH7ZTdjoIwEIV3ipSWPxEEFUXdPe//jjvdbKwyBbzZZGM8FySUHPqd6XQ+Xlhx0q3S6NSSVtunDEWd4qasLpYd5w1grDoWRa+0AdL9EpMFysS/qxLo4lnHF6L149I6wuecxWJwW2zPF3Oi37VkQDeTA5Fz7Fuw6AYXoZqs1QZMFWvg2vTFHRs2+YSlRslPzXFGgUvUE9lTJEzl4EZSaMNVS2A4ectwQgYqaOlgXQWugR9q7IKWlfvVBU3gUwWyWWZFx6U4OoQ+YDniR3a8HoFLeeKHVA7gcEC2ooCFeHHaQiTBhASYjM8Kx9+5+GOwDjps8EUmkkcpNH+Uceo/TDQMg8m2DKrk8/VgsvmlmsnmF10srpgAY+0wyM4ffCVJWuKLGBeNGBdyH5TqcSjp2J82BfO40aerPs/7ShsgczkE2NyAbYrnxvhBuzFuyCb+UgmwJXmwP9Eb7A12B/bP9Q0Hixt7mFRHugAAAABJRU5ErkJggg==');
}

.CollapserIco > img {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAFVBMVEUAAAD///////////////////////9Iz20EAAAABnRSTlMAoKdfWJ7MCLkpAAAAXUlEQVQ4y2MYBXQCjAo4JMSScGhIS1PAriEtLQmHBuxaxEASiVg1JLuBtWBqMGAB24KpgYEBrAVTAwMDRAumBqgWTA1YtIiBNIC1oEkwgjSAtaDbHgxjmDKMgmEOAJowGBsrl9+PAAAAAElFTkSuQmCC');
  width: 20px !important;
  height: 20px !important;
  opacity: 0.7;
  vertical-align: sub;
}

.ExpanderIco > img {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAFVBMVEUAAAD///////////////////////9Iz20EAAAABnRSTlMAA6CnX1jgybf8AAAAZ0lEQVQ4y+3NsQmAQBAEwDcwP6xBzO3gexAsQJ/tvwSFvec4NjWS32hhmbsy8vNMa2+HpWFBZZmxJ7ChsZ24LQ+oBD7EKTQCnsokgBACJQ6UECh5c3WQCYGS+CCEQIkDJQ6UWBn5NA+FIRqQ+Ku5NAAAAABJRU5ErkJggg==');
  width: 20px !important;
  height: 20px !important;
  opacity: 0.7;
  vertical-align: sub;
}

#Collapser {
  float: right;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}

.Ico:hover,
.IcoGeneral:hover {
  opacity: 1;
}

#deckName,
#oppTimer {
  float: left;
}

#myTimer {
  float: right;
  padding-right: 2px;
}

#oppTimer {
  padding-left: 2px;
}

.timerActive {
  color: #fff;
  font-weight: bold;
}

#deckName {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
